<nav>
  <ul>
    <li><a href="#">Rock</a></li>
    <li><a href="#">Pop</a></li>
    <li><a href="#">Hip-Hop</a></li>
    <li><a href="#">Latin</a></li>
    <li><a href="#">Jazz</a></li>
    <li><a href="#">World</a></li>
    <li><a href="#">Classical</a></li>
    <li><a href="#">Electronic</a></li>
  </ul>
</nav>