<div class="header-top">
  <a href="/"><img src="/img/logo.png" alt="Station Name"></a>
</div>

<nav>
  <ul>
    <li><a href="#">Shows</a></li>
    <li><a href="#">News</a></li>
    <li class="dropdown">
      <a href="#">DJs</a>
          <ul class="dropdown-content">
          <li><a href="#">Search Playlist</a></li>
          <li><a href="#">Time Slots</a></li>
          <li><a href="#">Current Playlist</a></li>
        </ul>
    </li>
    <li><a href="#">Producers</a></li>
  </ul>
</nav>
